<%-include('../layoutAdmin/header')%>
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories</h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white" />
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form action="/admin/create-category" method="post">
                        <div class="mb-4">
                            <label for="product_name" class="form-label">Name</label>
                            <!-- <input type="text" placeholder="Type here" class="form-control" id="product_name" /> -->

                            <input type="text" placeholder="Type here" class="form-control" id="product_name" name="product_name" />
                            <!-- <textarea placeholder="Type here" class="form-control" name="description"></textarea> -->
                            
                        </div>
                      
                       
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <textarea placeholder="Type here" class="form-control" name="description"></textarea>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Create category</button>
                       
                        </div>
                    </form>
                </div>
                <div class="col-md-9">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                   
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                               <% category.forEach(item => { %>
                                
                            
                                <tr>
                                   
                                    <td><%=item._id %></td>
                                    <td><b><%=item.name %></b></td>
                                    <td><%=item.description %></td>
                                    
                                    <td>
                                        
                                        <a class="btn btn-info btn-sm" href="/admin/editCategory/<%= item._id %>">Edit info</a>
                                        <a class="btn btn-danger btn-sm" href="/admin/deleteCategory/<%= item._id %>">Delete</a>
                                           
                                    </td>
                                    
                                </tr>
                                <% }) %>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- .col// -->
            </div>
            <!-- .row // -->
        </div>
        <!-- card body .// -->
    </div>
    <!-- card .// -->
</section>
<%-include('../layoutAdmin/footer')%>