<%- include('../layoutAdmin/header') %>
  <section class="content-main">
    <div class="row">
      <div class="col-9">
        <div class="content-header">
          <h2>Edit Product</h2>
          <div>
            <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mb-4">
          <div class="card-header">
            <h4>Basic</h4>
          </div>
          <div class="card-body">
            <form action="/admin/editProduct/<%= product._id %>" method="post" >
              <div class="mb-4">
                <label for="product_name" class="form-label">Product title</label>
                <input type="text" placeholder="$" value="<%= product.name %>" class="form-control" name="productname"
                  title="Price must be a number" required />
              </div>
              <div class="mb-4">
                <label class="form-label">Full description</label>
                <textarea placeholder="Type here"  class="form-control" rows="4" name="description"><%= product.description %></textarea>
              </div>

              <div class="col-sm-6 mb-3">
                <label class="form-label">Category</label>
                <select class="form-select" name="category">
                  <% category.forEach(cat => {%>
                    <option value="<%=cat._id  %>"><%= cat.name %></option>
 
                  <%}); %>
                  

                </select>
              </div>
              <div class="row">
                <div class="col-lg-4">
                  <div class="mb-4">
                    <label class="form-label">Regular price</label>
                    <div class="row gx-2">
                      <input type="number" placeholder="$" value="<%= product.price %>" class="form-control" name="price" pattern="\d+(\.\d{2})?"
                        title="Price must be a number" required />
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="mb-4">
                    <label class="form-label">Stock</label>
                    <input placeholder="$" type="number" value="<%= product.stock %>" class="form-control" name="stock" />
                  </div>
                </div>
              </div>
              <div class="mb-4">
                <label class="form-label">Product image</label>
                <input type="file" name="productImages" class="form-control" multiple />
              </div>
              <button class="btn btn-md rounded font-sm hover-up" type="submit">Publish</button>
            </form>
          </div>
          <% product.image.forEach(img => { %>
            <img height="100px" width="100px" src="/<%= img %>" alt="">
           
          <% }) %>
        </div>
      </div>
    </div>
  </section>
  <%- include('../layoutAdmin/footer') %>